* {
	text-decoration: none;
	padding: 0;
	margin: 0;
	border: none;
}
html {
	color: #333;
	font-family: sans-serif;
	font-size: 16px;
}
body {
	margin: 1 em;
}

h1 {
	font-size: 32px;
	padding: 32px;
	margin: 32px;
}
#root {
	display: grid;
	grid-template-columns: 100%;
	align-items: center;
	justify-items: center;
}

.showcase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.categories {
	padding: 0 24px 0 0;
	min-width: 192px;
}

.category {
	padding: 8px;
	cursor: pointer;
	font-weight: bold;
}
.category.parent {
	font-size: 24px;
}
.category.child {
	padding-left: 16px;
}

.category.active {
	color: #3b6cce;
}

.category.active:hover:after {
	color: #c33;
	content: '\2716';
	display: block;
	position: relative;
	left: -1em;
	top: -1.11em;
	width: 0;
	height: 0;
}

.category .count {
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
	color: #bbb;
}

.products {
	display: grid;
	gap: 32px;
	grid-template-columns: minmax( 128px, 264px) minmax(128px, 264px);
	align-items: center;
	justify-items: center;
}
.product div.image a {
	display: block;
}
.product img.product-featured-image {
	width: calc(48vw - 16px);
	height: calc(48vw - 16px);
	max-width: 256px;
	max-height: 256px;
	object-fit: cover;
}

.text-input-delayed {
	width: 532px;
	border: 2px solid #cdf;
	font-size: 24px;
	font-family: sans-serif;
	padding: 8px;
	margin: 16px;
}

.product div.name {
	text-align: center;
	padding: 8px;
}

.counts {
	padding: 32px;
	margin: 16px;
}

footer {
	padding: 1em;
	text-align: center;
	margin: 1em;
	line-height: 1.62em;
}
footer a {
	text-decoration: underline;
	color: #3b6cce;
}
footer h2 {
	margin: 0.62em;
}
footer ul {
	list-style: inside;
}

footer div.separator {
	text-align: center;
	width: min( 50%, 960px);
	border-top: 2px solid #cdf;
	height: 24px;
	margin: auto;
}

a.endpoint-url {
	font-family: monospace;
	text-decoration: underline;
	color: #3b6cce;
}

.endpoint-info a {
	text-decoration: underline;
	color: #3b6cce;
}

.endpoint-input {
	width: 532px;
	border: 1px solid #cdf;
	font-size: 18px;
	font-family: sans-serif;
	padding: 8px;
	margin: 16px;
}
